{
    "extends": "google",
    "plugins": ["html"],
    "rules": {
      "accessor-pairs": "off",
      "array-bracket-spacing": "off",
      "array-callback-return": "off",
      "arrow-parens": "off",
      "block-scoped-var": "off",
      "brace-style": "off",
      "camelcase": "off",
      "comma-dangle": "off",
      "comma-spacing": "off",
      "curly": "off",
      "default-case": "off",
      "dot-location": "off",
      "dot-notation": "off",
      "eqeqeq": "off",
      "generator-star-spacing": "off",
      "guard-for-in": "off",
      "handle-callback-err": "off",
      "indent": "off",
      "key-spacing": "off",
      "keyword-spacing": "off",
      "max-len": ["error", {
        "ignorePattern": "((// @suppress longLineCheck)|:)$",
        "ignoreUrls": true
      }],
      "max-nested-callbacks": "off",
      "max-statements-per-line": "off",
      "new-cap": "off",
      "new-parens": "off",
      "no-alert": "off",
      "no-array-constructor": "off",
      "no-cond-assign": "off",
      "no-constant-condition": "off",
      "no-control-regex": "off",
      "no-dupe-keys": "off",
      "no-else-return": "off",
      "no-eq-null": "off",
      "no-extra-bind": "off",
      "no-extra-boolean-cast": "off",
      "no-extra-semi": "error",
      "no-floating-decimal": "off",
      "no-func-assign": "off",
      "no-implicit-coercion": "off",
      "no-inner-declarations": "off",
      "no-lonely-if": "off",
      "no-loop-func": "off",
      "no-multi-spaces": "off",
      "no-multiple-empty-lines": "off",
      "no-negated-condition": "off",
      "no-new": "off",
      "no-new-func": "off",
      "no-new-object": "off",
      "no-new-wrappers": "off",
      "no-proto": "off",
      "no-redeclare": "off",
      "no-regex-spaces": "off",
      "no-restricted-globals": "off",
      "no-return-assign": "off",
      "no-sequences": "off",
      "no-spaced-func": "off",
      "no-throw-literal": "off",
      "no-undef": "off",
      "no-undef-init": "off",
      "no-unneeded-ternary": "off",
      "no-unreachable": "error",
      "no-unused-expressions": "off",
      "no-unused-vars": "off",
      "no-use-before-define": "off",
      "no-useless-call": "off",
      "no-useless-concat": "off",
      "no-useless-escape": "off",
      "no-warning-comments": "off",
      "no-whitespace-before-property": "off",
      "object-curly-spacing": "off",
      "one-var": "off",
      "one-var-declaration-per-line": "off",
      "operator-assignment": "off",
      "padded-blocks": "off",
      "quote-props": "off",
      "radix": "off",
      "require-jsdoc": "off",
      "semi": "off",
      "semi-spacing": "off",
      "space-unary-ops": "off",
      "spaced-comment": "off",
      "valid-jsdoc": "off",
      "wrap-iife": "off",
      "yoda": "off"
    }
}
