*.pyc
*.swp
.idea
.DS_Store
*~
.project
.settings
.tags
tags

# A script some of us use to download Deep Report traces. It must live in that
# directory but should not be committed for privacy reasons. This prevents
# an accidental add.
perf_insights/perf_insights/download_traces.py

# devil's binary dependency download folder.
/devil/bin/deps/

# telemetry's binary dependency download folder.
/telemetry/telemetry/internal/bin/
