/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

* /deep/ .line-chart .line {
  fill: none;
  stroke-width: 1.5px;
}

* /deep/ .line-chart #brushes > rect {
  fill: rgb(192, 192, 192);
}
