# Defines buckets on cr-buildbucket.appspot.com, used by to schedule builds
# on buildbot. In particular, CQ uses some of these buckets to schedule tryjobs.
#
# See http://luci-config.appspot.com/schemas/projects:buildbucket.cfg for
# schema of this file and documentation.
#
# Please keep this list sorted by bucket name.

buckets {
  name: "luci.catapult.ci"
  acls {
    role: READER
    group: "all"
  }
}

buckets {
  name: "luci.catapult.try"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: SCHEDULER
    group: "project-chromium-tryjob-access"
  }
  acls {
    role: WRITER
    identity: "sullivan@chromium.org"
  }

  swarming {
    hostname: "chromium-swarm.appspot.com"
    builder_defaults {
      dimensions: "pool:luci.flex.try"
      category: "Catapult CQ"
      service_account: "catapult-try-builder@chops-service-accounts.iam.gserviceaccount.com"
      execution_timeout_secs: 7200  # 2h
      swarming_tags: "vpython:native-python-wrapper"
      build_numbers: YES
      recipe {
        cipd_package: "infra/recipe_bundles/chromium.googlesource.com/chromium/tools/build"
        cipd_version: "refs/heads/master"
        name: "catapult"
        properties_j: "$kitchen:{\"git_auth\": true, \"devshell\": true}"
      }
    }

    builders {
      name: "Catapult Linux Tryserver"
      dimensions: "os:Ubuntu"
      dimensions: "cpu:x86-64"
    }

    builders {
      name: "Catapult Windows Tryserver"
      dimensions: "os:Windows"
    }

    builders {
      name: "Catapult Mac Tryserver"
      dimensions: "os:Mac-10.13"
    }

    builders {
      name: "Catapult Android Tryserver"
      dimensions: "os:Android"
      dimensions: "device_type:bullhead"
      recipe {
        properties: "platform:android"
      }
    }

    builders {
      name: "Catapult Presubmit"
      dimensions: "os:Ubuntu"
      recipe {
        name: "run_presubmit"
        properties: "repo_name:catapult"
      }
    }
  }
}

buckets {
  name: "master.tryserver.client.catapult"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-chromium-tryserver"
  }
  acls {
    role: SCHEDULER
    group: "project-chromium-tryjob-access"
  }
  acls {
    role: WRITER
    identity: "sullivan@chromium.org"
  }
}
