/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root {
  --layer-menu: 100;
  --layer-drawer: 200;
  --layer-hidden: -100;
  --icon-size: 24px;

  /* https://material.io/guidelines/motion/material-motion.html#material-motion-how-does-material-move */
  --transition-long: 0.5s;
  --transition-short: 0.3s;

  --primary-color-dark: hsl(231, 48%, 48%);
  --primary-color-medium: hsl(231, 45%, 84%);
  --primary-color-light: hsl(231, 44%, 94%);
  --neutral-color-dark: hsl(0, 0%, 50%);
  --neutral-color-medium: hsl(0, 0%, 80%);
  --neutral-color-light: hsl(0, 0%, 93%);
  --error-color: hsl(4, 90%, 60%);
  --focus-color: hsl(54, 100%, 80%);
  --improvement-color: hsl(122, 40%, 50%);
  --background-color: white;
  --foreground-color: black;

  /* paper-material-styles */
  --elevation-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                 0 1px 5px 0 rgba(0, 0, 0, 0.12),
                 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --elevation-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                 0 1px 10px 0 rgba(0, 0, 0, 0.12),
                 0 2px 4px -1px rgba(0, 0, 0, 0.4);

  --chops-button-background-color: var(--primary-color-light);
  --chops-button-shadow: var(--elevation-1);
  --chops-button-color: var(--primary-color-dark);
  --chops-button-disabled-background-color: var(--neutral-color-light);
  --chops-button-disabled-color: var(--neutral-color-dark);
  --chops-button-active-color: var(--primary-color-medium);

  --chops-checkbox-background-color: var(--background-color);
  --chops-checkbox-border-color: var(--foreground-color);
  --chops-checkbox-checked-color: var(--primary-color-dark);
  --chops-checkbox-disabled-color: var(--neutral-color-dark);

  --chops-input-label-color: var(--neutral-color-dark);
  --chops-input-background-color: var(--background-color);
  --chops-input-disabled-color: var(--neutral-color-light);
  --chops-input-focused-color: var(--primary-color-dark);
  --chops-input-error-color: var(--error-color);

  --chops-loading-color: var(--primary-color-dark);

  --chops-radio-color: var(--primary-color-dark);
  --chops-radio-disabled-color: var(--neutral-color-dark);

  --chops-switch-off-dark-color: var(--neutral-color-dark);
  --chops-switch-off-light-color: var(--neutral-color-light);
  --chops-switch-shadow: var(--elevation-1);
  --chops-switch-on-light-color: var(--primary-color-light);
  --chops-switch-on-dark-color: var(--primary-color-dark);

  --chops-tab-background-color: var(--primary-color-light);
  --chops-tab-color: var(--primary-color-dark);
  --chops-tab-checked-color: var(--background-color);

  --chops-tab-bar-color: var(--primary-color-dark);

  --chops-textarea-label-color: var(--neutral-color-dark);
  --chops-textarea-background-color: var(--background-color);
  --chops-textarea-focused-color: var(--primary-color-dark);
  --chops-textarea-error-color: var(--error-color);
}

:root, body, chromeperf-app {
  height: 100%;
}

body {
  margin: 0;
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
}
