Flask==2.0.1
flask-talisman==0.7.0
grpcio-tools==1.38.0
google-api-python-client==2.7.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-datastore==2.1.3
google-cloud-logging==2.4.0
oauth2client==4.1.3
gunicorn==20.1.0
protobuf>=3.4.0
google-python-cloud-debugger
