<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="filter.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='https://unpkg.com/vue-select'></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
</head>
<body>

<input type='file' id='file-input'/>
<input type='button' value='stories' id='storyBtn' style='visibility:hidden;'/>
<input type='button' value='storyTags' id='storyTagsBtn' style='visibility:hidden;'/>
<input type='button' value='storysetRepeats' id='storysetRepeatsBtn' style='visibility:hidden;'/>
<input type='button' value='traceStart' id='traceStartBtn' style='visibility:hidden;'/>
<input type='button' value='traceUrls' id='traceUrlsBtn' style='visibility:hidden;'/>

<input type='text' id='metricname' style='visibility:hidden;'/>
<input type='text' id='storyname' style='visibility:hidden;'/>

<input type='button' value='check' id='submit' style='visibility:hidden;'/>

<div id="app">
  <v-select placeholder="Pick a metric" v-if="seen" :options="metrics" v-model="selected_metric"></v-select>
  <v-select placeholder="Pick a story" v-if="seen" :options="stories" v-model="selected_story"></v-select>
  <v-select placeholder="Pick a diagnostic" v-if="seen" :options="diagnostics" 
            v-model="selected_diagnostic"></v-select>
    <ul>
      <li v-for="(key, value) in target">
         {{key}} : {{value}}
      </li>
    </ul>
    <pre id='sample-values'></pre>
</div>

<script src="filter.js"></script>
</body>
</html>