#app {
  max-width: 120em;
  max-height: 10000000em;
  height: 10000000px;
  margin: 2em auto;
  margin-top: -10px;
  left: +150px;
  overflow: hidden;
  text-overflow: ellipsis;
}


#select_item {
  width: 60em;
  align-content: center;
  background-color: rgb(245, 252, 245);
  border: 1px solid #bdd3c9;
  border-radius: 8px;
}

#story-story{
  border-left-width: 10px;
  border: 1px solid #a0d1bb;
  border-radius: 3px;
  background-color: #f1f5f2;
}

#file-input {
  border: 2px solid #bdd3c9;
  border-radius: 12px;
  background-color: #f1f5f2;
  padding: 4px;
  text-align: center;
  margin: 1px;
}


#story-sample {
  border-left-width: 10px;
  border: 1px solid #a0d1bb;
  border-radius: 3px;
  background-color: #f1f5f2;
}

#diagnostic-row {
  border-radius: 2px;
  border: 1px solid #87ceae;
  border-radius: 3px;
  background-color: #e2eee5; 
}

#entry {
  border: 2px solid #42b983;
  border-radius: 2px;
}

.openedMetric {
  background-color: darkgray;
}

.openedStory {
  background-color: darkseagreen;
}

.openedDiagnostic {
  background-color: darkseagreen;
}

#canvas {
  max-width: 100em;
  max-height: 60em;
  margin: 2em auto;
  margin-top: +10px;
  left: +10px;
}

#inputBox {
  width: 30em;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 8px;
  padding: 8px;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
  margin-top: +10px; 
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#table form input {
  max-width: 100em;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}