<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/dashboard/static/base.css">
  <link rel="import" href="/components/paper-button/paper-button.html">
  <link rel="import" href="/dashboard/elements/nav-bar.html">
  <style>
    a {
      text-decoration: none;
    }
    #confirm {
      background: #4285f4;
      color: #fff;
    }
  </style>
</head>
<body>
  <nav-bar></nav-bar>

  <form action="/bad_bisect" id="bisect_form" method="POST">
    {{xsrf_input|safe}}
    <input type="hidden" name="try_job_id" value="{{try_job_id}}">
    <p>
      <paper-button id="confirm" onclick="document.getElementById('bisect_form').submit()">Confirm</paper-button>
      that bisect job <a href="#">{{try_job_id}}</a> is incorrect.
    </p>
  </form>

</body>
</html>
