<!DOCTYPE html>
<!--
Copyright 2016 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<html>
<head>
  <link rel="import" href="/dashboard/static/base.html">
  <link rel="import" href="/dashboard/elements/nav-bar.html">
  <title>Anomaly Detection Function Debugger</title>
</head>
<body>
  <nav-bar></nav-bar>
  <h1>Anomaly Detection Function Debugger</h1>
  <div id="content">
    <p>This tool has been deprecated - use <a href="https://g3doc.corp.google.com/company/teams/chrome/ops/core_infra/speed_tooling/chromeperf-datalab.md?cl=head">this</a> instead (Googlers only).</p>
  </div>
</body>
</html>
