{% extends "base.html" %}
{% block head %}
  <title>Chrome Performance Test Owners</title>
  <script>
    var OWNER_INFO = {{owner_info | safe}};
    var IS_ADMIN = ('{{is_admin}}' == 'True') ? true : false;
    var XSRF_TOKEN = '{{xsrf_token}}';
  </script>

  <link rel="import" href="/components/polymer/polymer.html">
  <link rel="import" href="/dashboard/elements/editable-list.html">

  <style>
    #content {
      margin-left: 10px;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Chrome Performance Test Owners</h1>
  <div id="content">
    <editable-list id="edit-owner-list"
                   xsrfToken="{{xsrf_token | safe}}"></editable-list>
  </div>

  <script>
    'use strict';

    /**
     * Initializes the "edit test owners" page.
     */
    function init() {
      var editOwnerList = document.getElementById('edit-owner-list');
      var ownerEmail = (IS_ADMIN) ? 'Owner\'s email' : null;
      editOwnerList.init(OWNER_INFO,
                         '/edit_test_owners',
                         'Master/Test suite',
                         ownerEmail);
      editOwnerList.$['item_textfield'].setAttribute(
          'placeholder', 'ChromiumPerf/sunspider');
    }

    document.addEventListener('polymer-ready', init, false);
  </script>
{% endblock %}
{% include 'analytics.html' %}
