<!DOCTYPE html>
<!--
Copyright 2016 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/dashboard/static/base.css">
  <link rel="import" href="/dashboard/elements/nav-bar.html">
  <title>Load Data From Production</title>
</head>
<body>
  <nav-bar></nav-bar>
  <h1>Load Data From Production</h1>
  <p>Use this form to load a given master/system/test/graph/trace and all
  associated alerts from prod onto a dev server.</p>
  <form method="POST">
    Test path:
    <input name="test_path" type="text" size=200
           value="ChromiumPerf/chromium-rel-win7-dual/kraken/Total"><br>
    Number of points:
    <input name="num_points" type="number" min="5" max="500" value="300"><br>
    End revision (leave blank for latest):
    <input name="end_rev" type="number"><br>
    <input type="submit">
  </form>
  <br />
  <p>Load recent alerts for a sheriff.</p>
  <form method="POST">
    Sheriff: <input name="sheriff"
                    type="text"
                    size=50
                    value="Chromium Perf Sheriff"><br>
    Number of alerts: <input name="num_alerts"
                             type="number"
                             min="1"
                             max="30"
                             value="10"></input><br>
    Number of points: <input name="num_points"
                             type="number"
                             min="1"
                             max="500"
                             value="100"></input><br>
    <input type="submit" value="Load alerts"></input>
  </form>
</body>
</html>
