<!DOCTYPE html>
<!--
Copyright 2016 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/dashboard/static/base.css">
  <link rel="import" href="/dashboard/elements/nav-bar.html">
  <title>New Points</title>
  <style>
  /*
   * TODO(qyearsley): This table style is common to several different pages
   * that have tables, and may be factored out into base.css.
   */
  table {
    border-spacing: 0px;
    padding-top: 20px;
  }

  td {
    border: 1px solid #eee;
    border-bottom: 2px solid #ccc;
    padding-right: 7px;
    padding-left: 7px;
  }

  tr:first-child td {
    border-top: 0px;
  }

  tr:last-child td {
    border-bottom: 0px;
  }
  </style>
</head>
</body>
  <nav-bar></nav-bar>
  <h1>New Points</h1>
  <form method="GET">
    <label>Test path pattern:
      <input type="text" name="pattern" size="100" value="{{pattern}}"
             placeholder="ChromiumPerf/linux-release/kraken/*">
    </label><br>
    <label>Number of points:
      <input type="text" name="num_points" value="{{num_points}}">
    </label><br>
    <label>Max number of data series to match:
      <input type="text" name="max_tests" value="{{max_tests}}">
    </label>
    <input type="submit">
  </form>

  <p>The "test path pattern" should be a string of the form
  "master-name/bot-name/test-suite/result-name/..." where any field
  can be replaced with a wildcard "*" character.</p>

  <p class="error">{{error}}</p>

  <table>
    <thead>
      <tr>
        <th>Time added</th>
        <th>Point ID</th>
        <th>Value</th>
        <th>Test path</th>
      </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      <tr>
        <td>{{row.added_time}}</td>
        <td>{{row.revision}}</td>
        <td>{{row.value}}</td>
        <td>{{row.test}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>
