{% extends "base.html" %}
{% block head %}

  <script src="/jquery/jquery-2.1.4.min.js"></script>
  <script src="/flot/jquery.flot.min.js"></script>
  <script src="/flot/jquery.flot.crosshair.min.js"></script>
  <script src="/flot/jquery.flot.fillbetween.min.js"></script>
  <script src="/flot/jquery.flot.selection.min.js"></script>

  <link rel="import" href="/components/polymer/polymer.html">

  <link rel="import" href="/dashboard/elements/chart-container.html">
  <link rel="import" href="/dashboard/elements/custom-tooltip.html">
  <link rel="import" href="/dashboard/elements/login-warning.html">
  <link rel="import" href="/dashboard/elements/overlay-message.html">
  <link rel="import" href="/dashboard/elements/report-container.html">

  <title>Chrome Performance Dashboard</title>
  <script>
    var TEST_SUITES = {{test_suites | safe}};
    var REVISION_INFO = {{revision_info | safe}};
    var XSRF_TOKEN = '{{xsrf_token}}';
    {% if dev_version %}
    var DEV_SERVER = true;
    {% endif %}
  </script>

  <script>
    // Workaround for document.contains returning false for elements in the
    // shadow DOM. jQuery mouse events need it to return true for scrolling
    // to be properly accounted for. For background, see
    // https://github.com/Polymer/polymer/issues/162 and
    // https://www.w3.org/Bugs/Public/show_bug.cgi?id=22141
    jQuery.contains = function(doc, elem) {
      var shadowElems = document.getElementsByTagName('chart-container');
      for (var i = 0; i < shadowElems.length; i++) {
        if (shadowElems[i].shadowRoot.contains(elem)) {
          return true;
        }
      }
      return doc.contains(elem);
    };
  </script>

{% endblock %}
{% block content %}

  <h1>Chrome Performance Dashboard</h1>

  <overlay-message id="message-bar"></overlay-message>

  {%if warning_message %}
    <overlay-message id="warning-message" opened="true" autoCloseDisabled duration="-1">
    {{warning_message}}
    {% if warning_bug %}
      <a href="https://github.com/catapult-project/catapult/issues/{{warning_bug}}">See bug #{{warning_bug}}.</a>
    {% endif %}
    </overlay-message>
  {% endif %}

  <login-warning id="login-warning" loginLink="{{login_url}}"
                 {% if is_internal_user %}hidden="true"{% endif %}>
  </login-warning>

  <custom-tooltip id="tooltip"></custom-tooltip>

  <report-container xsrfToken="{{xsrf_token | safe}}"></report-container>
  <section id="charts-container"></section>

{% endblock %}
{% include 'analytics.html' %}
