<!DOCTYPE html>
<!--
Copyright 2016 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<html>
<head>
  <title>Set a warning message</title>
</head>
<body>
  <h1>Set a warning message</h1>
  <h2>Set Message</h2>
  <p>Perf bots having an extended outage?
  Known issues causing incorrect or missing data?
  Use this form to warn users about the problem.</p>
  <form method="POST" action="/set_warning_message">
    <table>
      <tr>
        <td><b>Warning message:</b></td>
        <td>
          <input name="warning_message" size=100 value="{{warning_message}}">
        </td>
      </tr>
      <tr>
        <td><b><a href="https://github.com/catapult-project/catapult/issues">Catapult Issue Tracker</a> Bug ID:</b></td>
        <td>
          <input name="warning_bug" size="7" value="{{warning_bug}}">
        </td>
      </tr>
    </table>
    <input type="submit" value="Update Warning Message">
  </form>
  <br>
  <h2>Clear Message</h2>
  <p>Outage over? Clear the warning message.</p>
  <form method="POST" action="/set_warning_message">
    <input name="warning_message" type="hidden" value="">
    <input name="warning_bug" type="hidden" value="">
    <input type="submit" value="Delete Warning Message">
  </form>
</body>
</html>
