<!DOCTYPE HTML>
<html>
<!--
Copyright (c) 2010 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<WARNING_MESSAGE></WARNING_MESSAGE>
<head i18n-values="dir:textdirection;">
<title>chrome://tracing</title>
<style>
html, body {
  height: 100%;
}

body {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 0;
  padding: 0;
}

</style>
<STYLE_SHEET_CONTENTS></STYLE_SHEET_CONTENTS>
<TEMPLATE_CONTENTS></TEMPLATE_CONTENTS>
<script src="chrome://tracing/tracing.js"></script>
</head>
<body>
  <div id="profiling-view"></div>
</body>
</html>
